<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Books</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myBooks.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Genos:wght@200&family=Salsa&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="nav">
            <h1>Forgot the Plot!</h1>
            <p>A website to keep track of all the summaries of books that you've read!</p>
            <a class="logoutLink" href="/logout">Logout</a>
        </div>
        <main>
            <h2>My Plot Summaries</h2>
            <div class="allBooks">

            </div>
        </main>

    </div>

    
</body>
</html>