<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Genos:wght@200&family=Salsa&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="nav">
            <h1 class="navbar">Forgot the Plot!</h1>
            <p class="navbar">A website to keep track of all the summaries of books that you've read!</p>
            <a href="/my/books" class="navbar">Back to my books</a>
            <a href="/home" class="navbar">Back to homepage</a>
            <a class="navbar" href="/logout">Logout</a>
        </div>
        <main>
            <h2>Search Results</h2>
            {%if  not search_results%}
            <p>No books match your search. Add your own entry?</p>
            <a href="createSummary">Create a new plot summary</a>
            {%else%}
            <table>
                <tr>
                    <th>Book Title</th>
                    <th>Author</th>
                </tr>
                {%for result in search_results%}
                <tr>
                    <td ><a href="/oneBook/{{result.id}}" onmouseover="hover(this)" onmouseout="hoverOff(this)" class="title">{{result.title}}</a></td>
                    <td>{{result.author}}</td>
                </tr>
                {%endfor%}
            </table>

            {%endif%}
        </main>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>